In [5]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Aula').enableHiveSupport().getOrCreate()

In [8]:
spark

In [9]:
df_csv = spark.read.csv(r'C:\Users\Diego\Documents\Diego\vs code\dados.csv', header=True, sep=',')

In [10]:
df_csv.show()

+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|      date|       home_team|away_team|home_score|away_score|tournament|     city|            country|neutral|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
|1872-11-30|        Scotland|  England|         0|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1873-03-08|         England| Scotland|         4|         2|  Friendly|   London|            England|  FALSE|
|1874-03-07|        Scotland|  England|         2|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1875-03-06|         England| Scotland|         2|         2|  Friendly|   London|            England|  FALSE|
|1876-03-04|        Scotland|  England|         3|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1876-03-25|        Scotland|    Wales|         4|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1877-03-03|         England| Scotland|         1|         3|  Friendly|   London|            England|  FALSE|
|1877-03-05|           Wales| Scotland|         0|         2|  Friendly|  Wrexham|              Wales|  FALSE|
|1878-03-02|        Scotland|  England|         7|         2|  Friendly|  Glasgow|           Scotland|  FALSE|
|1878-03-23|        Scotland|    Wales|         9|         0|  Friendly|  Glasgow|           Scotland|  FALSE|
|1879-01-18|         England|    Wales|         2|         1|  Friendly|   London|            England|  FALSE|
|1879-04-05|         England| Scotland|         5|         4|  Friendly|   London|            England|  FALSE|
|1879-04-07|           Wales| Scotland|         0|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-13|        Scotland|  England|         5|         4|  Friendly|  Glasgow|           Scotland|  FALSE|
|1880-03-15|           Wales|  England|         2|         3|  Friendly|  Wrexham|              Wales|  FALSE|
|1880-03-27|        Scotland|    Wales|         5|         1|  Friendly|  Glasgow|           Scotland|  FALSE|
|1881-02-26|         England|    Wales|         0|         1|  Friendly|Blackburn|            England|  FALSE|
|1881-03-12|         England| Scotland|         1|         6|  Friendly|   London|            England|  FALSE|
|1881-03-14|           Wales| Scotland|         1|         5|  Friendly|  Wrexham|              Wales|  FALSE|
|1882-02-18|Northern Ireland|  England|         0|        13|  Friendly|  Belfast|Republic of Ireland|  FALSE|
+----------+----------------+---------+----------+----------+----------+---------+-------------------+-------+
only showing top 20 rows

In [11]:
df_csv.printSchema()

root
 |-- date: string (nullable = true)
 |-- home_team: string (nullable = true)
 |-- away_team: string (nullable = true)
 |-- home_score: string (nullable = true)
 |-- away_score: string (nullable = true)
 |-- tournament: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- neutral: string (nullable = true)

In [12]:
jogos = df_csv.withColumnRenamed('date','dt') \
.withColumnRenamed('home_team','mandante') \
.withColumnRenamed('away_team','visitante') \
.withColumnRenamed('home_score','gol_mandante') \
.withColumnRenamed('away_score','gol_visitante') \
.withColumnRenamed('tournament','torneio') \
.withColumnRenamed('city','cidade') \
.withColumnRenamed('country','pais') \
.drop('neutral')

In [13]:
jogos.printSchema()

root
 |-- dt: string (nullable = true)
 |-- mandante: string (nullable = true)
 |-- visitante: string (nullable = true)
 |-- gol_mandante: string (nullable = true)
 |-- gol_visitante: string (nullable = true)
 |-- torneio: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- pais: string (nullable = true)

In [14]:
from pyspark.sql.functions import col
final = jogos \
    .withColumn('gol_mandante',col('gol_mandante').cast('integer')) \
    .withColumn('gol_visitante',col('gol_visitante').cast('integer'))

In [20]:
final.printSchema()

root
 |-- dt: string (nullable = true)
 |-- mandante: string (nullable = true)
 |-- visitante: string (nullable = true)
 |-- gol_mandante: integer (nullable = true)
 |-- gol_visitante: integer (nullable = true)
 |-- torneio: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- pais: string (nullable = true)

QUESTAO 1

In [15]:
final.count()

40839

QUESTAO 2

In [16]:
final.createTempView('tab')

In [19]:
spark.sql('select count(distinct(mandante)) from tab').show()

+------------------------+
|count(DISTINCT mandante)|
+------------------------+
|                     309|
+------------------------+

QUESTAO 3

In [20]:
spark.sql('select * from tab').show()

+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
|        dt|        mandante|visitante|gol_mandante|gol_visitante| torneio|   cidade|               pais|
+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
|1872-11-30|        Scotland|  England|           0|            0|Friendly|  Glasgow|           Scotland|
|1873-03-08|         England| Scotland|           4|            2|Friendly|   London|            England|
|1874-03-07|        Scotland|  England|           2|            1|Friendly|  Glasgow|           Scotland|
|1875-03-06|         England| Scotland|           2|            2|Friendly|   London|            England|
|1876-03-04|        Scotland|  England|           3|            0|Friendly|  Glasgow|           Scotland|
|1876-03-25|        Scotland|    Wales|           4|            0|Friendly|  Glasgow|           Scotland|
|1877-03-03|         England| Scotland|           1|            3|Friendly|   London|            England|
|1877-03-05|           Wales| Scotland|           0|            2|Friendly|  Wrexham|              Wales|
|1878-03-02|        Scotland|  England|           7|            2|Friendly|  Glasgow|           Scotland|
|1878-03-23|        Scotland|    Wales|           9|            0|Friendly|  Glasgow|           Scotland|
|1879-01-18|         England|    Wales|           2|            1|Friendly|   London|            England|
|1879-04-05|         England| Scotland|           5|            4|Friendly|   London|            England|
|1879-04-07|           Wales| Scotland|           0|            3|Friendly|  Wrexham|              Wales|
|1880-03-13|        Scotland|  England|           5|            4|Friendly|  Glasgow|           Scotland|
|1880-03-15|           Wales|  England|           2|            3|Friendly|  Wrexham|              Wales|
|1880-03-27|        Scotland|    Wales|           5|            1|Friendly|  Glasgow|           Scotland|
|1881-02-26|         England|    Wales|           0|            1|Friendly|Blackburn|            England|
|1881-03-12|         England| Scotland|           1|            6|Friendly|   London|            England|
|1881-03-14|           Wales| Scotland|           1|            5|Friendly|  Wrexham|              Wales|
|1882-02-18|Northern Ireland|  England|           0|           13|Friendly|  Belfast|Republic of Ireland|
+----------+----------------+---------+------------+-------------+--------+---------+-------------------+
only showing top 20 rows

In [21]:
spark.sql('select count(mandante) from tab where gol_mandante > gol_visitante').show()

+---------------+
|count(mandante)|
+---------------+
|          19864|
+---------------+

QUESTAO 4

In [22]:
spark.sql('select count(visitante) from tab where gol_mandante < gol_visitante').show()

+----------------+
|count(visitante)|
+----------------+
|           11544|
+----------------+

QUESTAO 5

In [23]:
spark.sql('select count(1) from tab where gol_mandante = gol_visitante').show()

+--------+
|count(1)|
+--------+
|    9431|
+--------+

QUESTAO 6

In [26]:
spark.sql('select pais, count(1) as partidas from tab group by 1').show()

+-------------------+--------+
|               pais|partidas|
+-------------------+--------+
|               Chad|      40|
|             Russia|     209|
|           Paraguay|     218|
|           Anguilla|      12|
|              Yemen|      58|
|U.S. Virgin Islands|      15|
|     Chinese Taipei|      47|
|            Senegal|     202|
|             Sweden|     637|
|             Guyana|      98|
|        Philippines|      83|
|              Burma|      79|
|             Jersey|      68|
|            Eritrea|      16|
| Netherlands Guyana|      29|
|           Djibouti|      21|
|              Tonga|      12|
|          Singapore|     368|
|           Malaysia|     644|
|               Fiji|     139|
+-------------------+--------+
only showing top 20 rows

QUESTAO 7

In [37]:
spark.sql('select pais, count(1) as partidas from tab group by 1 order by 2 desc limit 1').show()

+-------------+--------+
|         pais|partidas|
+-------------+--------+
|United States|    1144|
+-------------+--------+

QUESTAO 8

In [43]:
spark.sql('select *, (gol_mandante + gol_visitante) as total_gols from tab order by total_gols desc limit 1').show()

+----------+---------+--------------+------------+-------------+--------------------+-------------+---------+----------+
|        dt| mandante|     visitante|gol_mandante|gol_visitante|             torneio|       cidade|     pais|total_gols|
+----------+---------+--------------+------------+-------------+--------------------+-------------+---------+----------+
|2001-04-11|Australia|American Samoa|          31|            0|FIFA World Cup qu...|Coffs Harbour|Australia|        31|
+----------+---------+--------------+------------+-------------+--------------------+-------------+---------+----------+

QUESTAO 9

In [55]:
spark.sql('select *, \
    case when (gol_mandante - gol_visitante) <0 then (gol_mandante - gol_visitante)*-1 \
    else (gol_mandante - gol_visitante) \
    end as diferenca \
         from tab order by diferenca desc limit 1').show(10)

+----------+---------+--------------+------------+-------------+--------------------+-------------+---------+---------+
|        dt| mandante|     visitante|gol_mandante|gol_visitante|             torneio|       cidade|     pais|diferenca|
+----------+---------+--------------+------------+-------------+--------------------+-------------+---------+---------+
|2001-04-11|Australia|American Samoa|          31|            0|FIFA World Cup qu...|Coffs Harbour|Australia|       31|
+----------+---------+--------------+------------+-------------+--------------------+-------------+---------+---------+

QUESTAO 10

In [57]:
spark.sql('select count(1) as partidas from tab where pais = "Brazil"').show()

+--------+
|partidas|
+--------+
|     529|
+--------+